<p style="color: green"><%= notice %></p>

<h1>Links</h1>

<div id="links">
  <% @links.each do |link| %>
    <%= render link %>
    <p>
      <%= link_to "Follow link", link_path(link, short_url: link.short_url) %>
      <%= button_to "Destroy this link", link_path(short_url: link.short_url), method: :delete %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New link", new_link_path %>
